---
import Layout from '../../../layouts/PageLayout.astro';
---

<Layout>
  <h1>Kontakt</h1>
  <p>Wir freuen uns auf Ihre Nachricht.</p>
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit blanditiis
    esse laborum. Aliquam eos accusantium ea obcaecati cupiditate officiis earum
    ducimus unde nam, eius, error similique architecto veritatis. Veritatis
    quia, laborum libero fuga modi totam cupiditate distinctio minus, similique
    dolor doloribus deserunt animi minima aliquam vel tempore eum! Ducimus
    aliquid expedita unde possimus? Quibusdam, cupiditate. Dignissimos ut
    dolores reiciendis totam ducimus tempora voluptas minima, harum veniam
    facere, repellendus iure fugiat pariatur. Saepe harum quos blanditiis rerum
    officiis, beatae repudiandae at iusto, excepturi voluptatum cupiditate vero!
    Cumque officia repellat nobis voluptas illum consectetur, consequatur
    laudantium eos soluta reprehenderit? Quae obcaecati, numquam tenetur porro
    officiis cum officia possimus aspernatur, facilis illo distinctio molestiae?
    Mollitia, dicta minima nulla corporis error vitae dolores amet in facere
    iste eaque reiciendis corrupti suscipit voluptas aspernatur qui consectetur
    pariatur possimus rem odit iusto, optio reprehenderit tenetur. Quae, magnam
    provident natus aut maxime impedit minus facere quidem esse ut animi
    molestias voluptate distinctio, tempora neque libero quia omnis qui alias
    deserunt laborum nobis! Omnis, qui quod? Cupiditate repellat consectetur
    excepturi natus rem magnam esse accusantium optio velit ipsum dicta,
    corporis eligendi molestiae autem nam! Ea molestias natus minima in
    consequatur nobis sint eius dolores eligendi ipsum totam velit rerum
    inventore blanditiis architecto aspernatur, possimus fuga, esse eos!
    Repudiandae dolorum maiores magnam illum soluta corporis, commodi nulla,
    accusamus doloribus quasi et eaque quis veritatis iure ut, quos nihil est
    repellat cupiditate ipsum nobis. Sunt magnam perferendis ad reiciendis non!
    Ipsam eligendi accusantium natus laudantium. Sunt accusantium sit asperiores
    in tempora numquam. Quod porro ipsum esse molestiae, culpa officiis,
    obcaecati dicta error, ducimus nostrum assumenda rem beatae pariatur maiores
    modi odit ipsa blanditiis eligendi praesentium quia? Ullam dolore temporibus
    laborum accusantium officiis natus fugit beatae quis libero esse cum eius
    rerum, architecto quas, nemo deleniti quasi! Eum ab, odio hic quos maiores
    pariatur rem, sequi placeat quibusdam nam dicta culpa officia? Labore,
    doloremque nobis. Ad veniam dolorem vitae eos. Id quasi quos incidunt,
    corrupti, officiis eum recusandae sapiente necessitatibus earum ipsum
    placeat dolores ad eius delectus ea sint nostrum facilis sed iure. Ab non
    placeat tenetur nesciunt! Consequatur, provident? Impedit delectus sint
    debitis nisi. Sequi qui nisi perferendis sint culpa sed delectus maiores?
    Itaque perspiciatis recusandae veniam illum, sequi animi beatae quasi
    praesentium dignissimos, magni eligendi illo ullam soluta? Ipsam sunt, esse
    enim minima consequatur officia quos. Provident nulla deleniti quas tempora
    soluta eum ab amet consectetur, architecto facere sit porro accusamus
    aliquid veniam atque enim asperiores voluptatibus ipsam corrupti! Aspernatur
    suscipit numquam placeat sapiente distinctio deserunt quibusdam velit!
    Tenetur qui, labore ex sunt expedita aperiam cumque iste ipsum omnis quidem
    voluptatibus corporis rem enim temporibus fugit architecto molestiae
    voluptas. Voluptas culpa accusantium doloremque, repellat nesciunt, ex unde
    tempore ullam quibusdam possimus aliquid delectus mollitia impedit adipisci
    sint fuga molestiae animi aut nulla iure quos maxime. Officia consectetur
    tenetur vel totam voluptate ab cumque fuga alias iusto in assumenda debitis
    similique dignissimos nobis eum nulla, corporis voluptates iure saepe
    repellat placeat, minima ipsa? Sunt excepturi error alias. Aperiam, error
    laudantium.
  </div>
</Layout>
