---
import {getLocaleFromUrl, useTranslations} from '../../../i18n/i18n';
import DefaultLayout from '../../../layouts/DefaultLayout.astro';

const locale = getLocaleFromUrl(Astro.url)

const t = useTranslations(locale);

export async function getStaticPaths() {
  return [
    {
      params: {
        locale: undefined,
        'macher': 'die-macher',
      },
    },
    {
      params: {
        locale: 'en',
        'macher': 'the-makers',
      },
    },
  ];
}
---

<DefaultLayout>
  <h1 >Die Macher</h1>
</DefaultLayout>
