---
import Layout from '../../../layouts/PageLayout.astro';
export async function getStaticPaths() {
  return [
    {
      params: {
      locale: undefined,
      malvinis_vermaechtnis: 'malvinis-vermaechtnis',
      },
    },
    {
      params: {
      locale: 'en',
            malvinis_vermaechtnis: 'malvinis-legacy',
                  },
    },
  ];
}

---

<Layout>
  <h1>Malvinis Vermächtnis</h1>
</Layout>
