---
import DefaultLayout from '../../../layouts/DefaultLayout.astro';

export async function getStaticPaths() {
  return [
    {
      params: {
        locale: undefined,
        firmen: 'firmen',
      },
    },
    {
      params: {
        locale: 'en',
        firmen: 'companies',
      },
    },
  ];
}
---

<DefaultLayout>
  <h1>Firmen</h1>
</DefaultLayout>
