@tailwind base;
@tailwind components;
@tailwind utilities;

/*
* Define custom styles in the base layer
* When adding a new color, make sure to add it to the dark mode as well
* CAREFEUL: The colors have to be in this format: --color-name: red green blue;
*/

/* Custom reset or global styles */
@layer base {
  :root {
    --color-primary: 241 234 229;
    --color-text: 33 33 33;
  }

  :root[class~='dark'] {
    --color-primary: 51 51 51;
    --color-text: 241 234 229;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-balance;
  }

  p,
  li,
  figcaption {
    @apply max-w-[65ch] text-pretty;
  }
}
