---
import Layout from '../../../layouts/PageLayout.astro';

export async function getStaticPaths() {
  return [
    {
      params: {
        locale: 'en',
        'zoo': 'zoo-des-todes',
      },
    },
    {
      params: {
        locale: 'en',
        'zoo': 'zoo-of-death',
      },
    },
  ];
}
---

<Layout>
  <Fragment slot={'main'}>
    <h1>Der Zoo des Todes</h1>
  </Fragment>
</Layout>
