#ghost-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 9999;
  overflow: hidden;
}

.ghost {
  position: absolute;
  opacity: 0;
  will-change: transform;
  transform: translate(100vw, 80vh) scale(0.5) rotate(0deg); /* Initial position */

  &:not(:first-child) {
  }
}

#ghost-container.animate .ghost {
  animation: ghost-fly 12s ease-out forwards;
}

@keyframes ghost-fly {
  10% {
    opacity: 1;
  }
  20% {
    transform: translate(80vw, 60vh) scale(0.7) rotate(-20deg);
  }
  40% {
    transform: translate(50vw, 30vh) scale(1) rotate(20deg);
  }
  60% {
    transform: translate(20vw, 40vh) scale(1.2) rotate(-20deg);
  }
  80% {
    transform: translate(-10vw, 20vh) scale(1.3) rotate(20deg);
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-150px, 10vh) scale(1.4);
  }
}
