.overlay {
  margin-inline: calc(var(--page-margin-inline) * -1);
  position: relative;
  height: 60vh;

  .divider {
    position: absolute;
    bottom: 15rem;
    margin: 0 auto;
    right: 50%;
    transform: translateX(50%);

    .icon {
      color: rgba(166, 200, 182, 1);
    }

    .line {
      background-color: white;
    }
  }

  video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  img {
    width: min(100%, 65ch);
    margin-top: auto;
    margin-inline: auto;
    position: absolute;
    inset: 0;
  }

  &:before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.2)
    );
  }

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0;
    background-image: linear-gradient(to top, #1e1f26, rgba(0, 0, 0, 0));
    z-index: 1;
  }
}

.room__header {
  text-align: center;
  margin-block: 2rem;
}

.section-title {
  text-transform: uppercase;
  text-align: center;
  font-family:
    Bebas Neue,
    sans-serif;
  font-feature-settings: normal;
  font-size: 2rem;
  line-height: 2.5rem;
  font-variation-settings: normal;
  font-weight: 700;

  &.under-overlay {
    display: block;
    margin: 2rem auto;
    margin-top: 1rem;
  }
}
.divider {
  display: flex;
  position: relative;
  flex-direction: column;
}

.separator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .divider {
    margin: 1.5rem 0; /* ~md:my-12 */
  }
}

.line {
  height: 1px;
  width: 5rem; /* 20 * 0.25rem = 5rem */
  background-color: #374151; /* Tailwind gray-700 */
}

.icon {
  width: 1.25rem; /* w-5 */
  height: 1.25rem; /* h-5 */
  margin: 0 1rem; /* mx-4 */
  color: rgba(166, 200, 182, 0.5); /* brand color with 50% opacity */
}
.room__title {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  display: none;
}

.room__short-description {
  font-size: 1.2rem;
}

.room__meta {
  margin-block: 2rem;
  border-top: 1px solid rgb(160, 160, 160);
  border-bottom: 1px solid rgb(160, 160, 160);
  padding: 1rem;

  @media (max-width: 600px) {
    margin-block: 0;
    border: none;
    padding: 0;
    padding-top: 1rem;
  }
}

.room__meta dl {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));

  place-items: center;
  /* @media (max-width: 600px) { */
  /*   place-items: start; */
  /* } */
}

.room__meta-item {
  text-wrap: nowrap;
  margin-right: 2rem;
  justify-content: center;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.room__meta-item dt {
  font-weight: bold;
}

.room__content {
  text-align: center;
  line-height: 1.6;
}

.room__info {
  margin-top: 1rem;
  background-color: var(--color-accent-primary-20);
  border-radius: 0.75rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
  place-items: center;
  padding-block: 1rem;
  padding-inline: 1.5rem;
  gap: 1rem;

  svg {
    flex-shrink: 0;
  }

  .room__footer-section {
    margin-bottom: 1.5rem;
    display: flex;
    /* min-width: 40ch; */
    /* max-width: 65ch; */
    flex-direction: column;
    align-items: center;
    text-align: center;

    .room__footer-title {
      font-size: 24px;
      line-height: 38.4px;
      margin-bottom: 0.5rem;
    }
  }
}
