:root {
  /* header / hero */
  --header-letter-spacing: 0.05em;
  --header-font-weight: 700;
  /* allows transition to auto state. this is a progressive enhancements */
  interpolate-size: allow-keywords;

  --brand-color: #8b90ff;
  --base-color: #f2f4f8;

  --surface-color: #fff;
  --text-color: #2a2d36;

  --secondary-text-color: #3c404f;
  --base-transparent-90: rgba(247, 247, 247, 0.9);
  --base-color-solid: #e0e0e0;

  --shadow-sidebar: 0px 4px 8px 3px rgba(60, 64, 67, 0.15), 0px 1px 2px 0px rgba(60, 64, 67, 0.3);

  /* Spacing */
  --spacing-regular: 1rem;

  /* Font sizes */
  --font-min: 1rem;
  --font-max: 1.5rem;
  --page-margin-inline: clamp(1rem, calc(-2.299375rem + 10vw), 10rem);

  --header-height: 68px;

  --font-family: 'Nunito', sans-serif;
  --color-accent-primary: rgb(166, 200, 182);
  --color-accent-primary-20: rgb(166, 200, 182, 0.2);

  /* QUINBOOK OVERRIDES */
  --VD_TXT_COLOR: var(--text-color) !important;

  /* Adjusted formula for better size control */
  @media (prefers-color-scheme: dark) {
    --brand-color: #8b90ff;
    --base-color: #1e1f26;
    --surface-color: #2c2f38;
    --text-color: #f0f0f0;
    --secondary-text-color: #b0b3c0;
    --base-transparent-90: rgba(30, 31, 38, 0.9);
    --base-transparent-100: rgba(30, 31, 38, 1);
  }
}
