---
import Layout from '../layouts/PageLayout.astro';
import VideoWrapper from '../components/video-wrapper.astro';

import {useTranslations} from '../i18n/i18n.ts';

// const locale = getLocale(Astro.url) as 'en' | 'de';
const locale = 'de';
const t = useTranslations(locale);
---

<Layout>
  <VideoWrapper slot="video-area" />

  <Fragment slot="main">
    <div
      class="flex flex-wrap items-center justify-center gap-2 g md:flex-nowrap"
    >
      <h1
        class="text-step-5 sm:text-step-6 md:text-step-8 mt-4 w-fit leading-none tracking-tight md:border-r-2"
        id="buchungskalender"
      >
        {t('general.skurrilum')}
      </h1>
      <span
        class="text-step-0 text-center"
        set:text={t('general.descriptionShort')}
      />
    </div>
    <p
      class=""
    >
      {t('general.description')}
    </p>
    <h2>{t('bookingCalender')}</h2>
    <!-- <script
      src="https://cdn.quinbook.com/shop.js"
      data-shopid="01161aaa0b6d1345dd8fe4e481144d84"></script> -->

    <h2>{t('seo.title1')}</h2>
    <p>
      {t('seo.description1')}
    </p>
    <h2>{t('seo.title2')}</h2>
    <p>
      {t('seo.description2')}
    </p>
    <h2>{t('seo.title3')}</h2>
    <p>
      {t('seo.description3')}
    </p>
    <div
      id="cta-bubble"
      class="cta-bg fixed right-0 bottom-[60px] z-10 h-[120px] w-[120px] bg-cover bg-[50%] text-[rgb(var(--color-dark))] transition-[right] duration-300 before:absolute before:top-1/2 before:left-1/2 before:-translate-x-1/2 before:-translate-y-1/2 before:text-center before:text-base before:leading-none before:font-bold before:content-[attr(data-content)]"
      data-content={t('cta.bookNowHere')}
    >
    </div>
  </Fragment>
</Layout>
