---
import Layout from '../layouts/PageLayout.astro';
import VideoWrapper from '../components/video-wrapper.astro';

import {getLocale} from 'astro-i18n-aut';

import {useTranslations} from '../i18n/ui.ts';

const locale = getLocale(Astro.url) as 'en' | 'de';
const t = useTranslations(locale);
---

<script>
  // import globals from 'globals';
</script>

<Layout>
  <!-- <Fragment slot="after-header"> -->
  <VideoWrapper />
  <!-- </Fragment> -->

  <h2 id="buchungskalender">Buchungskalender</h2>
  <div class="buchung"></div>
  <h1>{t('title')}</h1>
  <h1>{t('description')}</h1>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed facilis sit necessitatibus
  quisquam sunt, beatae tenetur adipisci reiciendis. Eum rem consectetur, illo aut
  magni assumenda soluta sapiente laudantium recusandae molestiae repudiandae aliquid
  voluptate incidunt, est tenetur fugiat perspiciatis dolor. Necessitatibus, numquam
  esse! Deserunt est nesciunt maiores modi aliquam debitis eos doloremque veritatis
  accusamus magnam architecto quo delectus molestiae voluptatum magni corporis, sunt
  culpa facilis quia ipsam, tenetur provident aut. Optio minima odit ea distinctio
  fugit asperiores expedita eum quod laboriosam totam quisquam vero aperiam, labore
  impedit voluptas voluptates. Veniam debitis quasi hic, et incidunt reiciendis.
  Expedita vitae distinctio quam voluptas.
</Layout>
