---
import Layout from '../layouts/Layout.astro';
import VideoWrapper from '../components/video-wrapper.tsx';
---

<script>
  // import globals from 'globals';
  console.log('index.astro');
</script>

<Layout title="Welcome to Astro.">
  <Fragment slot="after-header">
    <VideoWrapper />
  </Fragment>

  <Fragment slot="main-content">
    <h2 id="buchungskalender">Buchungskalender</h2>
    <div class="buchung"></div>

    TEST TEST EST Neuer Eintrag Lorem ipsum dolor sit amet, consectetur
    adipisicing elit. Possimus dolor earum, unde fugit aut nisi necessitatibus.
    Perferendis maiores excepturi, ducimus quia rem laudantium reiciendis quod
    asperiores minus, accusantium ut aut sequi dignissimos dolores vel nam.
    Laudantium reiciendis quia ipsum cupiditate eum atque, hic, quod illum,
    consectetur incidunt vel consequuntur aliquid adipisci. Porro ex at in
    soluta nostrum enim inventore recusandae, accusamus perspiciatis odio neque
    quidem ipsa ipsum, tempora natus eos iusto nemo laudantium. Qui amet
    expedita suscipit voluptatibus, provident, repudiandae, illo saepe itaque
    quas debitis error consequuntur perspiciatis corrupti rerum quam sequi
    perferendis eveniet molestiae blanditiis. Vitae beatae distinctio
    repellendus! TEST TEST EST Neuer Eintrag Lorem ipsum dolor sit amet,
    consectetur adipisicing elit. Possimus dolor earum, unde fugit aut nisi
    necessitatibus. Perferendis maiores excepturi, ducimus quia rem laudantium
    reiciendis quod asperiores minus, accusantium ut aut sequi dignissimos
    dolores vel nam. Laudantium reiciendis quia ipsum cupiditate eum atque, hic,
    quod illum, consectetur incidunt vel consequuntur aliquid adipisci. Porro ex
    at in soluta nostrum enim inventore recusandae, accusamus perspiciatis odio
    neque quidem ipsa ipsum, tempora natus eos iusto nemo laudantium. Qui amet
    expedita suscipit voluptatibus, provident, repudiandae, illo saepe itaque
    quas debitis error consequuntur perspiciatis corrupti rerum quam sequi
    perferendis eveniet molestiae blanditiis. Vitae beatae distinctio
    repellendus! TEST TEST EST Neuer Eintrag Lorem ipsum dolor sit amet,
    consectetur adipisicing elit. Possimus dolor earum, unde fugit aut nisi
    necessitatibus. Perferendis maiores excepturi, ducimus quia rem laudantium
    reiciendis quod asperiores minus, accusantium ut aut sequi dignissimos
    dolores vel nam. Laudantium reiciendis quia ipsum cupiditate eum atque, hic,
    quod illum, consectetur incidunt vel consequuntur aliquid adipisci. Porro ex
    at in soluta nostrum enim inventore recusandae, accusamus perspiciatis odio
    neque quidem ipsa ipsum, tempora natus eos iusto nemo laudantium. Qui amet
    expedita suscipit voluptatibus, provident, repudiandae, illo saepe itaque
    quas debitis error consequuntur perspiciatis corrupti rerum quam sequi
    perferendis eveniet molestiae blanditiis. Vitae beatae distinctio
    repellendus! Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Molestias, consequatur dolorum explicabo porro sed sit voluptate
    reprehenderit suscipit quo? Cum, magnam aliquid ab asperiores mollitia ea
    modi inventore. Quaerat repudiandae magnam optio eligendi rerum voluptates
    ratione minima, sint molestias, perferendis aliquid saepe atque dolorem
    dolor quis omnis iusto consequatur vero illo cumque obcaecati expedita
    tempora? Harum praesentium veritatis dolorum necessitatibus quaerat, qui
    assumenda corrupti ipsa vel, enim, quos odio sunt provident eum! Fuga
    aliquid dicta nam nemo architecto laboriosam quaerat iste nobis aspernatur
    eligendi? Ut dolores quod a, accusamus est nulla odio laborum modi
    inventore, ducimus officiis quo facilis iste! Voluptate possimus vel labore
    qui cupiditate, numquam sit, in, praesentium perspiciatis magni est sequi
    eaque quae sint incidunt veritatis quia accusamus totam atque! Quos eligendi
    officia voluptate temporibus error amet! Quaerat cupiditate a fugit, soluta
    rem saepe asperiores iusto dignissimos eaque sed magnam id aut, iste
    distinctio est dolor ullam inventore porro, reiciendis animi. Fuga veniam
    quidem praesentium ducimus nihil repellat fugit, deleniti nesciunt
    reprehenderit mollitia placeat explicabo hic alias excepturi assumenda ab
    voluptas dicta quia commodi, asperiores et veritatis illo tempora quis!
    Labore aspernatur aut nihil repellat id animi, architecto placeat nulla non,
    provident quas dolores, mollitia earum. Voluptatibus nulla atque accusamus
    quos a nisi libero, illum hic porro iste! Minus perspiciatis voluptatum
    vero. Quos minima ratione voluptas natus ipsa esse magni voluptate quidem
    sequi porro doloremque libero architecto facilis laborum repellat accusamus
    perferendis nostrum consequatur ex, possimus illo itaque! Nobis repellendus
    eveniet, officiis vero praesentium cupiditate necessitatibus unde corrupti
    sapiente. Pariatur unde laudantium architecto esse maiores eaque molestiae
    quaerat atque repudiandae distinctio ipsa expedita provident omnis eum,
    molestias perspiciatis tempora. Consequuntur saepe enim ab veritatis ipsum
    sit. Vel sunt esse eveniet exercitationem quidem molestias optio deserunt ab
    temporibus. Quo veniam alias, blanditiis praesentium error sunt odio
    doloremque ipsam dignissimos magni maxime nulla. Quidem animi non molestias
    nesciunt quos deserunt exercitationem sint aperiam! Voluptate, vero
    exercitationem dolore nihil reprehenderit eum ab, cumque error iste aliquid
    ullam molestias. Sapiente mollitia molestias eos aperiam temporibus maxime
    adipisci ut fugiat illo delectus? Aspernatur laudantium enim hic non.
    Incidunt temporibus porro magni vel possimus nulla? Corrupti illo possimus
    quod officia doloribus quae et laboriosam rem, ipsa dolor sapiente
    molestias, nostrum laborum accusantium, voluptatibus delectus vitae atque
    qui nemo nisi magni hic unde. Minima optio eum veniam. Minus, ratione
    quaerat, dolorem eos deserunt quasi aut accusantium in odit omnis labore
    quia quibusdam consequatur reiciendis autem temporibus, corporis
    voluptatibus itaque sapiente. Nihil quam magnam non exercitationem quo neque
    culpa ipsa voluptatem rem alias facere tempore ex necessitatibus facilis
    quos vitae et iste aliquid expedita quibusdam voluptate ullam, deserunt
    corporis? Enim unde est sequi, beatae repellat veritatis. Modi inventore
    laborum neque perferendis, quidem ipsa, a fugit voluptatibus nam architecto
    quas beatae nulla, itaque minima iusto delectus impedit? Facilis maxime
    accusantium laboriosam temporibus quibusdam animi sequi sint id est, ipsum,
    quas nisi iste quae! Id, impedit quod assumenda tempore cupiditate rerum
    molestias cumque esse beatae debitis nisi facere placeat, asperiores ab
    facilis atque nihil dignissimos veniam a!
  </Fragment>
</Layout>
