---
// import introVideo from '../assets/intro.mov';
import Layout from '../layouts/Layout.astro';
import burgerMenu from '../assets/burgermenu.svg?raw';
---

<script>
  // import globals from 'globals';
</script>

<Layout title="Welcome to Astro.">
  <main>
    <video height="240" autoplay muted>
      <!-- <source src={introVideo} type="video/mp4" /> -->
      Your browser does not support the video tag.
    </video>
    <div class="w-2">
      <Fragment set:html={burgerMenu} />
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus dolor
      earum, unde fugit aut nisi necessitatibus. Perferendis maiores excepturi,
      ducimus quia rem laudantium reiciendis quod asperiores minus, accusantium
      ut aut sequi dignissimos dolores vel nam. Laudantium reiciendis quia ipsum
      cupiditate eum atque, hic, quod illum, consectetur incidunt vel
      consequuntur aliquid adipisci. Porro ex at in soluta nostrum enim
      inventore recusandae, accusamus perspiciatis odio neque quidem ipsa ipsum,
      tempora natus eos iusto nemo laudantium. Qui amet expedita suscipit
      voluptatibus, provident, repudiandae, illo saepe itaque quas debitis error
      consequuntur perspiciatis corrupti rerum quam sequi perferendis eveniet
      molestiae blanditiis. Vitae beatae distinctio repellendus!
    </p>
  </main>
</Layout>
