---
import Layout from '../layouts/PageLayout.astro';
import VideoWrapper from '../components/video-wrapper.astro';

import {getLocale} from 'astro-i18n-aut';

import {useTranslations} from '../i18n/ui.ts';

const locale = getLocale(Astro.url) as 'en' | 'de';
const t = useTranslations(locale);

let title: string;
---

<script>
  // import globals from 'globals';
</script>

<Layout>
  <!-- <Fragment slot="after-header"> -->
  <VideoWrapper />
  <!-- </Fragment> -->

  <h2 id="buchungskalender">Buchungskalender</h2>
  <div class="buchung"></div>
  <h1>{t('title')}</h1>
  <h1>{t('description')}</h1>
  <h1>Ideal: {t('ideal')}</h1>
</Layout>
