---
import {twMerge} from 'tailwind-merge';
import NavbarListItem from './navbar-list-item.astro';
import NavbarToggle from './navbar-toggle.astro';
import Logo from './logo.astro';

const hasScrolled = false;
let isOpen = false;
---

<!-- The Navbar Component -->
<header
  class={twMerge(
    'fixed z-30 flex w-full items-center justify-between p-2 transition-all duration-100 before:absolute before:inset-0 before:isolate before:z-[-1] before:h-full before:w-full before:sm:hidden',
    hasScrolled
      ? 'before:bg-primary before:shadow-md'
      : 'before:bg-transparent',
    isOpen && 'before:bg-primary before:shadow-none'
  )}
>
  <Logo customClass="hidden-on-desktop" />
  <NavbarToggle
    customClass="mix-blend-difference hidden-on-desktop"
    onClick={() => {
      isOpen = !isOpen;
    }}
    isOpen={isOpen}
  />
</header>
<nav
  class={twMerge(
    'animate-display-none fixed bottom-0 left-0 right-0 top-0 z-10 hidden bg-transparent text-center opacity-0 ease-in sm:bottom-auto sm:block sm:opacity-100',
    isOpen ? 'pointer-events-auto block bg-primary opacity-100' : '',
    hasScrolled ? 'sm:bg-primary' : ''
  )}
>
  <ul
    class="pointer-events-auto flex h-full flex-col items-center justify-center gap-16 sm:flex-row sm:flex-nowrap sm:gap-4 sm:p-4 sm:text-white"
  >
    <NavbarListItem
      href="/"
      aria-label="Skurrilum - Homepage"
      customClass="hidden-on-mobile pointer-events-auto mr-auto mix-blend-difference"
    >
      <Logo />
    </NavbarListItem>

    <NavbarListItem href="/" text="Home" />
    <NavbarListItem href="/" text="Unsere Räume" />
    <NavbarListItem href="/" text="Gruppen & Firmen" />
    <NavbarListItem href="/kontakt" text="Kontakt" />
    <NavbarListItem href="/" text="Die Macher" />
  </ul>
</nav>
