{{ $rooms := where .Site.RegularPages "Section" "rooms" }}
{{ $lang_rooms := where $rooms "Lang" .Site.Language.Lang }}

{{ $guschi := "" }}
{{ $malvini := "" }}
{{ $other_rooms := slice }}

{{ range $lang_rooms }}
  {{ $base_file_name := .File.BaseFileName | strings.TrimSuffix (printf ".%s" .Lang) }}
  {{ if eq $base_file_name "guschis-geile-grotte" }}
    {{ $guschi = . }}
  {{ else if eq $base_file_name "malvinis-vermaechtnis" }}
    {{ $malvini = . }}
  {{ else }}
    {{ $other_rooms = $other_rooms | append . }}
  {{ end }}
{{ end }}

{{ $sorted_rooms := slice }}
{{ if $guschi }}{{ $sorted_rooms = $sorted_rooms | append $guschi }}{{ end }}
{{ if $malvini }}{{ $sorted_rooms = $sorted_rooms | append $malvini }}{{ end }}
{{ $sorted_rooms = $sorted_rooms | append $other_rooms }}


<div class="gallery-container">
  <div class="gallery-slider">
    {{ range $sorted_rooms }}
      {{ $video_name := .File.BaseFileName | strings.TrimSuffix (printf ".%s" .Lang) }}
      {{ $video_path_webm := printf "/videos/portrait/%s_portrait_450x800_av1.webm" $video_name }}
      {{ $video_path_hevc := printf "/videos/portrait/%s_portrait_450x800_h264.mp4" $video_name }}
      {{ $video_path_h264 := printf "/videos/portrait/%s_portrait_450x800_hevc.mp4" $video_name }}
      <a class="gallery-item" href="{{ .Permalink }}">
        <video class="gallery-video" autoplay loop muted playsinline>
          <source src="{{ $video_path_webm }}" type="video/webm" />
          <source src="{{ $video_path_hevc }}" type='video/mp4; codecs="hvc1"' />
          <source src="{{ $video_path_h264 }}" type="video/mp4" />
        </video>
        <div class="gallery-item-caption">
          <div class="gallery-item-info">
            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="14px"
                height="14px"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6.07 17H0v-1a5 5 0 015.07-4.93A6.97 6 0 003.5 16c0 .34.024.673.07 1z"
                ></path>
              </svg>
              {{ .Params.players }}
            </span>
            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="14px"
                viewBox="0 -960 960 960"
                width="14px"
                fill="currentColor"
              >
                <path
                  d="M340-360h60v-240H280v60h60v180Zm160 0h100q17 0 28.5-11.5T640-400v-160q0-17-11.5-28.5T600-600H500q-17 0-28.5 11.5T460-560v160q0 17 11.5 28.5T500-360Zm20-40v-60h60v60h-60Zm0-100v-60h60v60h-60ZM200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm0-560v560-560Z"
                />
              </svg>
              {{ .Params.age_num }}
            </span>
          </div>
          <h3>{{ .Title }}</h3>
          <p class="gallery-item-description">{{ .Description }}</p>
          <span class="cta-link">{{ i18n "view_details" }}</span>
        </div>
      </a>
    {{ end }}
  </div>
  <div class="gallery-indicator">
    {{ range $sorted_rooms }}
      <button class="indicator-dot" aria-label="Go to room"></button>
    {{ end }}
  </div>
  <button class="gallery-nav prev" aria-label="Previous image">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M15 19l-7-7 7-7"
      ></path>
    </svg>
  </button>
  <button class="gallery-nav next" aria-label="Next image">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
    </svg>
  </button>
</div>
