<section class="get-voucher">
  <div class="voucher-content">
    <div class="voucher-header-container">
      <svg
        style="width: 6rem; height: 2rem; color: rgba(0, 0, 0, 0.5); transform: scaleX(-1)"
        viewBox="0 0 100 20"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="M3 10 Q20 2, 50 10 T97 10"></path>
      </svg>
      <h3 class="voucher-header">{{ i18n "voucher_headline" }}</h3>
      <svg
        style="width: 6rem; height: 2rem; color: rgba(0, 0, 0, 0.5); transform: scaleX(-1)"
        viewBox="0 0 100 20"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="M3 10 Q20 2, 50 10 T97 10"></path>
      </svg>
    </div>
    <p>{{ i18n "voucher_description" }}</p>
    <a class="cta" href="">{{ i18n "voucher_cta" }}</a>
  </div>
  <div>
    <img src="/images/voucher_placeholder.jpg" alt="Voucher Image" />
  </div>
</section>
