<section class="hero">
  <div class="overlay">
    <img src="/images/file(1).svg" alt="Skurrilum logo" /  >
    {{ if eq .Site.Language.Lang "de" }}
    <img src="/images/willkommen.svg" alt="Skurrilum logo" class="logo"/>
    {{ else if eq .Site.Language.Lang "en" }}
    <img src="/images/welcome.svg" alt="Skurrilum logo" class="logo"/>
    {{ end }}
    <div class="cta-buttons">
      <a href="shop" class="cta-link">{{ i18n "header.cta_book" }}</a>
      <a href="shop" >{{ i18n "header.cta_learn_more" }}</a>
    </div>
  </div>
  <video id="hero-video" autoplay loop muted playsinline id="my-video">
    <!-- The video source will be set by JavaScript -->
  </video>
</section>
