<section class="hero">
  <div class="overlay">
    {{ if eq .Site.Language.Lang "de" }}
      <img src="/images/willkommen.svg" alt="Willkommen logo" class="logo" />
    {{ else if eq .Site.Language.Lang "en" }}
      <img src="/images/welcome.svg" alt="Welcome logo" class="logo" />
    {{ end }}
    <div class="cta-buttons">
      <a href="#shop-anchor" class="cta-link">{{ i18n "cta_book" }}</a>
      <a href="shop">{{ i18n "cta_learn_more" }}</a>
    </div>
    <div class="scroll-down">
      <a href="#why-us" aria-label="Scroll to the next section">
        <svg
          class="icon"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 9l-7 7-7-7"
          ></path>
        </svg>
      </a>
    </div>
  </div>
  <video
    id="hero-video"
    autoplay
    loop
    muted
    playsinline
    data-base-path="/videos/"
    data-portrait-av1="webtrailer_portrait_864x1536_av1_480k_2pass.webm"
    data-portrait-hevc="webtrailer_portrait_864x1536_hevc_480k_2pass.mp4"
    data-portrait-h264="webtrailer_portrait_864x1536_h264.mp4"
    data-landscape1080-av1="webtrailer_landscape_1920x1080_av1_crf32.webm"
    data-landscape1080-hevc="webtrailer_landscape_1920x1080_hevc_crf26.mp4"
    data-landscape1080-h264="webtrailer_landscape_1920x1080_h264.mp4"
    data-landscape4k-av1="webtrailer_landscape_3840x2160_av1_crf28.webm"
    data-landscape4k-hevc="webtrailer_landscape_3840x2160_hevc_crf22.mp4"
    data-landscape4k-h264="webtrailer_landscape_3840x2160_h264.mp4"
  >
    <!-- The video source will be set by JavaScript -->
  </video>
</section>
