{{ define "main" }}
  <!-- <article> -->
  <!--   <h1>{{ .Title }}</h1> -->
  <!---->
  <!--   {{ with .Params.shortTitle }} -->
  <!--     <h2>{{ . }}</h2> -->
  <!--   {{ end }} -->
  <!---->
  <!--   <ul> -->
  <!--     <li><strong>Players:</strong> {{ .Params.players }}</li> -->
  <!--     <li><strong>Ideal:</strong> {{ .Params.idealPlayers }}</li> -->
  <!--     <li><strong>Min Age:</strong> {{ .Params.minAge }}</li> -->
  <!--     <li><strong>Accessibility:</strong> {{ .Params.accessibility }}</li> -->
  <!--     <li><strong>Warnings:</strong> {{ .Params.warnings }}</li> -->
  <!--     <li><strong>Note:</strong> {{ .Params.note }}</li> -->
  <!--   </ul> -->
  <!---->
  <!--   <section class="content"> -->
  <!--     {{ .Content }} -->
  <!--   </section> -->
  <!-- </article> -->
{{ end }}
