---
import DefaultLayout from '../../../layouts/DefaultLayout.astro';

export async function getStaticPaths() {
  return [
    {
      params: {
        locale: undefined,
        kontakt: 'kontakt',
      },
    },
    {
      params: {
        locale: 'en',
        kontakt: 'contact',
      },
    },
  ];
}
---

<DefaultLayout>
  <Fragment>
    <h1>Kontakt</h1>
    <p>Wir freuen uns auf Ihre Nachricht.</p>
  </Fragment>
</DefaultLayout>
