---
import Layout from '../../../layouts/PageLayout.astro';
export async function getStaticPaths() {
  return [
    {
      params: {
        locale: undefined,
        die_weinende_frau: 'die-weinende-frau',
      },
    },
    {
      params: {
        locale: 'en',
        die_weinende_frau: 'the-weeping-willow',
      },
    },
  ];
}
---

<Layout>
  <h1>Die Weinende Frau</h1>
</Layout>
