---
import {getLocaleFromUrl, useTranslations} from '../i18n/i18n';
import type {MetaData} from '../types/types';
// the order of the css imports is important
import '../styles/icons.css';
import '../styles/utilities.css';
import '../styles/global.css';

import BasicScripts from '../utils/BasicScripts.astro';
import Header from '../layouts/groups/header.astro';
import Head from '../layouts/groups/head.astro';
import Footer from '../layouts/groups/footer.astro';
import CtaBubble from '../components/ui/cta-bubble.astro';

export interface Props {
  metadata?: MetaData;
}


const locale = getLocaleFromUrl(Astro.url);
const t = useTranslations(locale);
---

<html lang={locale}>
  <Head />
  <body class="bg-primary-bg text-primary-fg jost-font">
    <Header isFixed />
    <!--<main >-->

    <!-- Deactivated as long as the transition persit on header is not working-->
    <main class="mx-[var(--page-margin-inline)]" >
      <slot />
    </main>
    <Footer />
    
    <CtaBubble cta={t('cta.bookNowHere')} />
    <BasicScripts />
  </body>
</html>
