---
export interface Props {
  title: string;
  metadata?: {
    title: string;
  };
}

const {title} = Astro.props;

// console.log('🚀 ~ metadata:', metadata);

import '../styles/utilities.css';
import '../styles/tailwind.css';
import '../styles/global.css';

import BasicScripts from '../utils/BasicScripts.astro';
import {ClientRouter} from 'astro:transitions';
---

<html lang="de">
  <head>
    <title>{title}</title>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <!-- <CustomStyles /> -->

    <ClientRouter fallback="swap" />
  </head>
  <body class="bg-page text-text">
    <slot />
    <!-- <Header {...headerData} isSticky />
    <slot name="after-header" />
    <main>
      <slot name="main-content" />
    </main> -->
    <a href=""> </a>
    <BasicScripts />
  </body>
</html>
