---
import {twMerge} from 'tailwind-merge';

// Define the interfaces for props
// interface BaseProps extends HTMLLIElement {
//   href: string;
//   customClass?: string;
// }

// interface TextProps extends BaseProps {
//   text: string;
//   children?: never;
// }

// interface ChildrenProps extends BaseProps {
//   text?: never;
//   children: Astro.components; // Astro uses "children" for slot content.
// }

// type Props = TextProps | ChildrenProps;

// Destructure props passed to the component
const {href, customClass,id, ...listItemProps} = Astro.props;
---

<li id={id} {...listItemProps} class={twMerge('sm:g', customClass)}>
  <a class="block text-start text-2xl font-bold sm:text-base" href={href}>
    <slot/>
</li>
