---
import {footerId} from '../../layouts/groups/footer.astro';
interface Props {
  cta: string;
}

const {cta} = Astro.props as Props;
const ctaId = 'floating-action-cta';
---

<div
  transition:persist="cta"
  id={ctaId}
  class="cta-bg fixed right-0 bottom-[60px] z-10 h-[120px] w-[120px] bg-cover bg-[50%] text-[rgb(var(--color-dark))] transition-[right] duration-300 before:absolute before:top-1/2 before:left-1/2 before:-translate-x-1/2 before:-translate-y-1/2 before:text-center before:text-base before:leading-none before:font-bold before:content-[attr(data-content)] md:hidden"
  data-content={cta}
>
</div>

<script is:inline define:vars={{footerId, ctaId}}>
 (function () {
    // Initial call to set the position
    adjustCtaPosition();
  })();

 function adjustCtaPosition() {
    const cta = document.getElementById(ctaId);
    const footer = document.getElementById(footerId);
    const footerRect = footer.getBoundingClientRect();

    // Check if the shop element is

    if (footerRect.top < window.innerHeight) {
      cta.style.bottom = `${window.innerHeight - footerRect.top + 60}px`;
    } else {
      cta.style.bottom = '60px';
    }

    // Make the CTA disappear when the shop element is in the viewport
    const shop = document.querySelector('#venuedoo');
    // Function to handle intersection changes
    function handleIntersection(entries) {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          cta.style.right = '-100%';
          // Add your custom logic here
        } else {
          cta.style.right = '0';
          // Add your custom logic here
        }
      });
    }

    // Create an Intersection Observer
    const observer = new IntersectionObserver(handleIntersection, {
      root: null, // Use the viewport as the root
      threshold: [0], // Trigger when 10% of the element is visible
    });

    // Observe the target element
    const target = shop;
    if (target) {
      observer.observe(target);
    }
  }

  window.addEventListener('scroll', adjustCtaPosition);
  window.addEventListener('resize', adjustCtaPosition);

  // Initial call to set the position
  adjustCtaPosition();
</script>
