---
type Props = {
  customClass?: string;
};

const {customClass} = Astro.props;
import {twMerge} from 'tailwind-merge';
---

<h1
  class={twMerge(
    'before:logo relative h-[1.5rem] align w-[64px] before:absolute before:inset-0 before:isolate before:bg-center before:bg-cover', customClass
  )}
>
  <span class="hidden">Skurrilum - Escape Room Hamburg Reeperbahn</span>
</h1>
